* {
    padding: 0px;
    margin: 0px;
    color: rgb(158, 158, 158);
    font-family: sans-serif;
}
body {
    background-color: rgb(20, 25, 53);
    padding: 1rem 2rem;
}
h1 {
    font-size: 3.5rem;
    color: rgb(231, 231, 231);
}
h2 {
    font-size: 1.1rem;
    color: rgb(231, 231, 231);
}
nav {
    margin: 1.5rem 0%;
}
nav a {
    display: block;
    text-decoration: none;
    margin: .75rem 0%;
    position: relative;
    width: 100px;
    text-align: right;
    /* background-color: aqua; */
    transition: all .1s;
}

nav a:hover {
    color: rgb(231, 231, 231);
    width: 120px;
    transition: all .3s;
}